*.pyc
*~
*.*.swp
*.tar.gz
image/Dockerfile
.eggs

*/*/build.sh

*/build.log
*.gz

.venv

wheels/dist/
wheels/dist-qemu/
wheels/build/cache/

.tox
#Dockerfile
starforge.egg-info
build
dist

docs/_build
